{% extends "../../layout.html" %}
{% load custom_filters %}
<!-- Include DataTables CSS and JS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

{% block header %}
<div class="d-flex justify-content-between align-items-center w-100">
    <div class="d-flex align-items-center">
        <span class="navbar-brand mb-0 h1 text-white">Sortie</span>
         <!-- Display Total Expense -->
         <div class='text-white ml-3'><strong>Total: {{ total_expense|format_amount }}</strong></div> <!-- Format as needed -->
    </div>


    <div class="d-flex align-items-stretch">
        <a href="{% url 'expense_create' %}" class="class-card mr-3">Ajout Sortie</a>
        <button class="class-card mr-3 hidden-print" id="print-button" title="Print" onclick="myFunction()">
            <i class="fas fa-print"></i>
        </button>
      {% comment %}
          <button class="class-card mr-3 hidden-print" id="export-button" title="Export to Excel" onclick="exportToExcel()">
              <i class="fas fa-file-excel"></i>
          </button>
      {% endcomment %}
        <button class="class-card mr-3" id="undo-button" title="Undo">
            <i class="fas fa-undo"></i>
        </button>
        <button class="class-card mr-3" id="redo-button" title="Redo">
            <i class="fas fa-redo"></i>
        </button>
        <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
        
       
    </div>
</div>
{% endblock header %}

{% block content %}
<style>
    .table-container {
        max-width: 100%;
        overflow-x: auto;
        border-radius: 10px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .table th,
    .table td {
        padding: 5px 8px !important;
        font-size: 12px;
    }

    .table th {
        background-color: #333;
        color: #fff;
        text-transform: uppercase;
    }

    .class-header-row {
        background-color: #f8f9fa !important;
        font-weight: bold;
    }

    .highlight-negative {
        color: red;
        font-weight: bold;
    }

    .page-break {
        page-break-after: always;
    }

    .action {
        width: 12px !important;
    }

    .id {
        width: 25px !important;
    }

    .hand {
        width: 25px !important;
    }

    .prenom {
        width: 200px !important;
    }

    .nom {
        width: 200px !important;
    }

    .cs_py {
        width: 1% !important;
    }
    .col-sex {
        width: 1% !important;
    }
    .amount-col {
        text-align: right !important; /* Right-align numerical columns */
         width: 50px  !important;
    }

    @media print {
        .hidden-print {
            display: none !important;
        }
    }
</style>

<div class="">
    <h5>Liste des Dépenses</h5>
    <div class="table table-striped table-bordered">
    <table id="expensesTable" class="display compact ">
        <thead>
            <tr>
                <th class='amount-col'>Date</th> <!-- Column header -->
                <th>Description</th>
                <th class='amount-cl'>Montant</th>
                <th class='amountcol'>Total Progressif</th> <!-- Column for Progressive Total -->
                <th class='w-50'></th>
               {% comment %}
                 <th>Actions</th>
               {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for item in expenses %}
            <tr>
                <td>{{ item.expense.formatted_date }}</td> <!-- Formatted Date -->
                <td>COMPT-{{ item.expense.description }}</td> <!-- Expense Description -->
                <td>{{ item.expense.amount|format_amount }}</td> <!-- Expense Amount -->
                <td class="highlight-negative">{{ item.progressive_total|format_amount }}</td> <!-- Progressive Total in Red -->
               {% comment %}
                 <td>
                     <a href="{% url 'expense_update' item.expense.pk %}" title="Edit"><i class="fas fa-edit"></i></a>
                     <a href="{% url 'expense_delete' item.expense.pk %}" title="Delete"><i class="fas fa-trash"></i></a>
                 </td>
               {% endcomment %}
               <td class='w-200'></td>
           
            
           
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<script>
    $(document).ready(function() {
        var currentDate = new Date().toLocaleDateString();
        var classe = "{{ classe.nom }}";
        var table = $('#expensesTable').DataTable({
            //dom: 'Bfrtip',
            ordering: false,
            paging: false,
            columnDefs: [
                { "className": "dt-left", "targets": [0, 1] }, // Apply to non-amount columns
                { "className": "dt-right", "targets": [2, 3] }  // Apply to amount columns
            ],
            buttons: [
                {
                    extend: 'csv',
                    text: 'Export CSV',
                    filename: 'liste per classe - ' + classe + ' ' + currentDate,
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'excel',
                    text: 'Export Excel',
                    filename: 'liste per classe - ' + classe + ' ' + currentDate,
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'print',
                    text: 'Print',
                    className: 'class-card',
                    title: 'liste per classe - ' + classe + ' ' + currentDate,
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                }
            ],
        });

        // Export to Excel button functionality
        // Move buttons to header
        table.buttons().container()
            .appendTo($('#datatable-buttons'));
    });
</script>

    
    

{% endblock %}
