{% extends "../../layout.html" %}
{% block header %}
<div class="d-flex justify-content-between align-items-center w-100">
    <div class="d-flex align-items-center">
        <span class="navbar-brand mb-0 h1 text-white">Sortie</span>
         <!-- Display Total Expense -->
         
    </div>


    <div class="d-flex align-items-stretch">
        <a href="{% url 'create_transfer' %}" class="class-card mr-3">Add New Transfer</a>

        <button class="class-card mr-3 hidden-print" id="print-button" title="Print" onclick="myFunction()">
            <i class="fas fa-print"></i>
        </button>
      {% comment %}
          <button class="class-card mr-3 hidden-print" id="export-button" title="Export to Excel" onclick="exportToExcel()">
              <i class="fas fa-file-excel"></i>
          </button>
      {% endcomment %}
        <button class="class-card mr-3" id="undo-button" title="Undo">
            <i class="fas fa-undo"></i>
        </button>
        <button class="class-card mr-3" id="redo-button" title="Redo">
            <i class="fas fa-redo"></i>
        </button>
        <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
        
       
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container mt-4">
    <h2>Transfers</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>From Cashier</th>
                <th>To Cashier</th>
                <th>Amount</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transfer in transfers %}
            <tr>
                <td>{{ transfer.date }}</td>
                <td>{{ transfer.from_cashier }}</td>
                <td>{{ transfer.to_cashier }}</td>
                <td>{{ transfer.amount }}</td>
                <td>{{ transfer.note }}</td>
                <td>
                    <a href="{% url 'update_transfer' transfer.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_transfer' transfer.pk %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No transfers available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
