{% extends "../../layout.html" %}
{% load crispy_forms_tags %}
{% block header %}
<span class="navbar-brand mb-0 h1 text-white">classe update</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
                <button class="class-card mr-3" id="undo-button" title="Undo">
                    <i class="fas fa-undo"></i>
                </button>
                <button class="class-card mr-3" id="redo-button" title="Redo">
                    <i class="fas fa-redo"></i>
                </button>
                <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}

<div class="container">
    <h1>Update Class</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% endblock %}
